In [1]:
%load_ext autoreload
%autoreload 2
%load_ext lab_black
import pandas as pd

In [2]:
cd ..

ERROR:root:Cannot parse: 1:4: cd ..
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/lab_black.py", line 210, in format_cell
    formatted_code = _format_code(cell)
  File "/usr/local/lib/python3.7/site-packages/lab_black.py", line 29, in _format_code
    return format_str(src_contents=code, mode=FileMode())
  File "/usr/local/lib/python3.7/site-packages/black.py", line 725, in format_str
    src_node = lib2to3_parse(src_contents.lstrip(), mode.target_versions)
  File "/usr/local/lib/python3.7/site-packages/black.py", line 836, in lib2to3_parse
    raise exc from None
black.InvalidInput: Cannot parse: 1:4: cd ..

/Users/alextrahey/Code/college-nationals

In [3]:
import ultimate
from ultimate import Team, Game, Tournament, utils, tournament

In [4]:
#
# Tests for Team class
#
ucla = Team(name="UCLA", rating=2200, nickname="Smaug")
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
print(ucla.name, ucla.nickname, ucla.rating, ucla.games_list)
print(ucsb.name, ucsb.nickname, ucsb.rating, ucsb.games_list)
print(ucsd.name, ucsd.nickname, ucsd.rating, ucsd.games_list)
print(cal.name, cal.nickname, cal.rating, cal.games_list)

UCLA Smaug 2200 []
UCSB Black Tide 2100 []
UCSD Air Squids 2000 []
Cal UGMO 1900 []

In [5]:
# Game 0
print("\nGame 0 (method='random')")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(method="random")
print("Score *should* be only 15-13 or 13-15.")

(
    mens_p_a_offense,
    mens_k,
    mens_rating_diff_to_victory_margin,
    game_to,
) = utils.get_default_parameters("men")

# Game 1
print("\nGame 1")
ucla_vs_ucsb = Game(ucla, ucsb)
ucla_vs_ucsb.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Game 0 (method='random')
UCLA 15-13 UCSB (Expected 15 - 13.4)
Score *should* be only 15-13 or 13-15.

Game 1
UCLA 15-14 UCSB (Expected 15 - 13.4)

In [6]:
# Tournament 0
print("\nTournament 0")
semi1 = Game(ucla, ucsb, level="semi")
semi2 = Game(cal, ucsd, level="semi")
finals = Game(None, None, semi1, semi2, level="final")

finals.play_game(
    method="double negative binomial",
    rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
    p_a_offense=mens_p_a_offense,
)

Tournament 0
semi: UCLA 14-15 UCSB (Expected 15 - 13.4)
semi: Cal 9-15 UCSD (Expected 13.4 - 15)
final: UCSB 15-13 UCSD (Expected 15 - 13.4)

In [7]:
finals.display_point_log()

UCSB 1-0 UCSD
UCSB 1-1 UCSD
UCSB 2-1 UCSD
UCSB 2-2 UCSD
UCSB 2-3 UCSD
UCSB 3-3 UCSD
UCSB 3-4 UCSD
UCSB 4-4 UCSD
UCSB 4-5 UCSD
UCSB 5-5 UCSD
UCSB 6-5 UCSD
UCSB 6-6 UCSD
UCSB 7-6 UCSD
UCSB 7-7 UCSD
UCSB 8-7 UCSD
UCSB 8-8 UCSD
UCSB 9-8 UCSD
UCSB 9-9 UCSD
UCSB 10-9 UCSD
UCSB 11-9 UCSD
UCSB 12-9 UCSD
UCSB 12-10 UCSD
UCSB 13-10 UCSD
UCSB 13-11 UCSD
UCSB 13-12 UCSD
UCSB 14-12 UCSD
UCSB 14-13 UCSD
UCSB 15-13 UCSD

In [8]:
# Tests for playing 8 team bracket
print("\nEight team bracket")
ucla = Team(name="UCLA", rating=2200, nickname="Smaug", games_list=[])
ucsb = Team(name="UCSB", rating=2100, nickname="Black Tide")
ucsd = Team(name="UCSD", rating=2000, nickname="Air Squids")
cal = Team(name="Cal", rating=1900, nickname="UGMO")
uw = Team(name="UW", rating=1800, nickname="Sundodgers")
ore = Team(name="Oregon", rating=1700, nickname="Ego")
whit = Team(name="Whitman", rating=1600, nickname="Sweets")
slo = Team(name="CalPolySLO", rating=1500, nickname="Slocore")

teams_list = [ucla, ucsb, ucsd, cal, uw, ore, whit, slo]

# placement = ultimate.tournament.play_eight_team_single_elimination_bracket(
#     teams_list,
#     method="double negative binomial",
#     rating_diff_to_victory_margin=mens_rating_diff_to_victory_margin,
#     p_a_offense=mens_p_a_offense,
# )

# print(placement[0][1].name)

Eight team bracket

In [9]:
four_teams = [ucla, ucsb, ucsd, cal]
b = tournament.BracketFourTwoOne(teams_list=four_teams)
b.games_list[0]
b.play_games()
b.show_results()
# b.determine_placement()

UCLA 15-10 Cal (Expected 15 - 10.3)
UCSB 15-12 UCSD (Expected 15 - 13.4)
UCLA 15-12 UCSB (Expected 15 - 13.4)
Cal 12-15 UCSD (Expected 13.4 - 15)
UCSB 15-11 UCSD (Expected 15 - 13.4)
BracketFourTwoOne - Final Results
1. UCLA
2. UCSB
3. UCSD
4. Cal

In [10]:
five_teams = [ucla, ucsb, ucsd, cal, ore]
b = tournament.BracketFiveOne(teams_list=five_teams, name="Southwest Regionals")
b.games_list
b.play_games()
b.show_results()

UCSB 12-15 UCSD (Expected 15 - 13.4)
UCLA 15-5 UCSD (Expected 15 - 11.8)
Cal 9-15 Oregon (Expected 15 - 11.8)
UCSB 15-8 Oregon (Expected 15 - 8.9)
Southwest Regionals - Final Results
1. UCLA
2. UCSD
3. UCSB
4. Oregon
5. Cal

In [11]:
b = tournament.BracketEightTwoOne(teams_list[:4], teams_list[4:])
b.play_games()
b.show_results()

UCLA 15-3 Oregon (Expected 15 - 7.7)
UCSB 15-12 UW (Expected 15 - 10.3)
UCLA 15-11 UCSB (Expected 15 - 13.4)
UCSD 15-12 CalPolySLO (Expected 15 - 7.7)
Cal 15-12 Whitman (Expected 15 - 10.3)
Oregon 12-15 UCSD (Expected 10.3 - 15)
Cal 15-12 UW (Expected 15 - 13.4)
UCSD 12-15 Cal (Expected 15 - 13.4)
UCSB 15-9 Cal (Expected 15 - 11.8)
CalPolySLO 14-15 Whitman (Expected 13.4 - 15)
Oregon 12-15 UW (Expected 13.4 - 15)
BracketEightTwoOne - Final Results
1. UCLA
2. UCSB
3. Cal
4. UCSD
5. UW
6. Oregon
7. Whitman
8. CalPolySLO

In [12]:
womens_ranking_html = r"Rankings/USAU_team_rankings.women.2020-03-11.html"
mens_ranking_html = r"Rankings/USAU_team_rankings.men.2020-03-11.html"

# Use pandas html reader to extract dataframe
result = pd.read_html(womens_ranking_html)
df_women = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

result = pd.read_html(mens_ranking_html)
df_men = result[0].rename(columns=lambda x: x.replace(" ", "_").lower()).iloc[0:-1]

custom_ranks_men = pd.read_excel(
    "./Rankings/USAU ratings and human tuning.xlsx", sheet_name="Men"
).dropna(subset=["USAU Rank"])
custom_ranks_women = pd.read_excel(
    "./Rankings/USAU ratings and human tuning.xlsx", sheet_name="Women"
).dropna(subset=["USAU Rank"])

In [32]:
def get_d1_teams(teams, custom_ranks):
    return (
        teams[teams.competition_division == "Division I"]
        .merge(
            custom_ranks[["Team", "Adjusted Rating"]],
            left_on="team",
            right_on="Team",
            how="inner",
        )
        .assign(
            custom_rating=lambda x: x["Adjusted Rating"].combine_first(x.power_rating)
        )
    )

In [30]:
def regional_tournament(region, d1_teams, n_teams=8, n_bids=1):
    teams = (
        d1_teams[d1_teams.college_region == region]
        .head(n_teams)
        .apply(
            lambda r: Team(
                name=r.team, rating=int(r.power_rating), region=r.college_region
            ),
            axis=1,
        )
    )
    pool_a = tournament.RoundRobinTournament(
        teams_list=teams.iloc[[0, 2, 4, 6]].tolist(), name=f"{region} - Pool A",
    )
    pool_b = tournament.RoundRobinTournament(
        teams_list=teams.iloc[[1, 3, 5, 7]].tolist(), name=f"{region} - Pool B",
    )
    print(pool_a.teams_list)
    pool_a.play_games()
    print(pool_b.teams_list)
    pool_b.play_games()
    bracket = tournament.BracketEightOne(
        pool_a.determine_placement(),
        pool_b.determine_placement(),
        name=f"{region} - Regionals Bracket",
    )
    bracket.play_games()
    bracket.show_results()
    return bracket.determine_placement()


# regional_tournament("Atlantic Coast", d1_men)

In [110]:
# b.play_games()
# region = 'Atlantic Coast'
# teams = d1[d1.college_region == region].head(n_teams).apply(lambda r: Team(name=r.team, rating=int(r.power_rating), region=r.college_region), axis=1).tolist()

In [88]:
# bids
def calculate_size_and_bids(tables, d1_teams):
    total_bids = 20
    # store boolean for whether autobid has been reached while iterating through rankings
    _bids = {region: [1, False] for region in d1_teams.college_region.unique()}
    for i, team in d1_teams.iterrows():
        if sum(v[0] for k, v in _bids.items()) < total_bids:
            if _bids[team.college_region][1]:
                _bids[team.college_region][0] += 1
            else:
                _bids[team.college_region][1] = True

    # now just a dict of region name: number of bids
    bids = {k: v[0] for k, v in _bids.items()}

    conference_lookup = (
        d1_teams.drop_duplicates(subset=["college_conference", "college_region"])
        .set_index("college_conference")
        .college_region.to_dict()
    )

    combined = (
        pd.concat(
            [
                table
                for table in tables
                if table.columns.isin(
                    ["Conference", "Division", "Auto bids", "Strength bids", "Total"]
                ).min()
                and (table.Division == "D-I").max()
            ]
        )
        .reset_index(drop=True)
        .assign(region=lambda x: x["Conference"].map(conference_lookup))
    )
    region_details = (
        combined.groupby("region")
        .Total.sum()
        .rename("size")
        .to_frame()
        .assign(bids=lambda x: x.index.map(bids))
    )
    return region_details


mens_adjustments = {"Atlantic Coast": 1, "New England": -1}

d1_men = get_d1_teams(df_men, custom_ranks_men)
d1_women = get_d1_teams(df_women, custom_ranks_women)

mens_region_details = calculate_size_and_bids(
    pd.read_html("./Rankings/2019CollegeMensDivisionBidAllocation.htm", header=0),
    d1_men,
)
mens_region_details.loc["North Central", "size"] = 12
mens_region_details.loc["Northwest", "size"] = 12
for region, val in mens_adjustments.items():
    mens_region_details.loc[region, "bids"] += val

womens_region_details = calculate_size_and_bids(
    pd.read_html("./Rankings/2019CollegeWomensDivisionBidAllocation.htm", header=0),
    d1_women,
)
pd.concat(
    [
        womens_region_details.rename(columns=lambda x: f"womens_{x}"),
        mens_region_details.rename(columns=lambda x: f"mens_{x}"),
    ],
    axis=1,
)

                womens_size  womens_bids  mens_size  mens_bids
region
Atlantic Coast           16            2         15          2
Great Lakes               8            1         12          1
Metro East                8            1         12          1
New England              10            3         10          2
North Central             8            1         12          2
Northwest                 8            3         12          4
Ohio Valley               8            2         15          2
South Central            12            1         16          2
Southeast                12            2         16          1
Southwest                12            4         16          3

In [174]:
four_pools_of_three_seeds = {
    "pool_a": [1, 8, 9],
    "pool_b": [2, 7, 10],
    "pool_c": [3, 6, 11],
    "pool_d": [4, 5, 12],
}

# Table 16.1.2
four_pools_of_four_seeds = {
    "pool_a": [1, 8, 12, 16],
    "pool_b": [2, 7, 11, 15],
    "pool_c": [3, 6, 10, 14],
    "pool_d": [4, 5, 9, 13],
}

two_pools_of_four_seeds = {"pool_a": [1, 4, 6, 7], "pool_b": [2, 3, 5, 8]}

two_pools_of_five_seeds = {"pool_a": [1, 3, 6, 8, 9], "pool_b": [2, 4, 5, 7, 10]}

pool_seeding = {
    8: two_pools_of_four_seeds,
    10: two_pools_of_five_seeds,
    12: four_pools_of_three_seeds,
    16: four_pools_of_four_seeds,
}


def play_pools(teams, pool_seeds):
    results = {}
    for name, seeds in pool_seeds.items():
        pool = tournament.RoundRobinTournament(
            teams_list=teams.iloc[[i - 1 for i in seeds]].tolist(), name=f"Pool {name}"
        )
        pool.play_games()
        results[name] = pool
    return results


def determine_regional_qualifiers(
    division_teams, region, n_teams, rankings_var="power_rating"
):
    return (
        division_teams[division_teams.college_region == region]
        .head(n_teams)
        .apply(
            lambda r: Team(
                name=r.team, rating=int(r[rankings_var]), region=r.college_region
            ),
            axis=1,
        )
    )


def play_bracket(n_bids, **pools):
    n_teams = sum([len(pool) for name, pool in pools.items()])
    if n_teams in (8, 10):
        if n_bids == 1:
            t = tournament.BracketEightOne(**pools)
        elif n_bids in (2, 3):
            t = tournament.BracketEightTwoOne(**pools)
    elif n_teams == 12:
        if n_bids in [1, 2, 3, 4]:
            t = tournament.BracketTwelveFourPools(**pools)
    elif n_teams == 16:
        if n_bids == 1:
            t = tournament.BracketSixteenOne(**pools)
        if n_bids in (2, 3):
            t = tournament.BracketSixteenTwoTwo(**pools)
    else:
        return
    t.play_games()
    return t


import pprint

pp = pprint.PrettyPrinter(indent=4)


def play_all_regions(d1_teams, region_details, writer, game_log_writer, division):
    summary = {}
    overall_pools = {}
    overall_placements = pd.DataFrame()
    for region, (n_teams, n_bids) in region_details.iterrows():
        #         n_teams = max(12, n_teams) # Minimum 12 bids
        if n_teams == 15:
            n_teams = 16
        teams = determine_regional_qualifiers(
            d1_teams, region, n_teams, rankings_var="custom_rating"
        )
        pool_results = play_pools(teams, pool_seeding[n_teams])
        pool_finishes = {
            name: pool.determine_placement() for name, pool in pool_results.items()
        }
        overall_pools[region] = pd.DataFrame(pool_finishes)
        #         .to_excel(
        #             writer, sheet_name=f"{division} {region} Pool"
        #         )
        bracket = play_bracket(n_bids, **pool_finishes)
        region_summary = {
            "Tournament": f"{division}'s {region} - {n_teams} Teams with {n_bids} Bids",
            "Format": f"{len(pool_results.keys())} pools of {len(pool_finishes['pool_a'])} -> {bracket.__class__.__name__}",
            "Qualifiers": ", ".join(
                [str(team) for team in bracket.determine_placement()[:n_bids]]
            ),
        }
        summary[region] = region_summary
        print()
        for k, v in region_summary.items():
            print(k.upper(), "-", v)
        overall_placements[f"{region} ({n_bids} bids)"] = pd.Series(
            bracket.determine_placement()
        )
        #         .to_excel(
        #             writer, sheet_name=f"{division} {region} Bracket"
        #         )
        pool_games = []
        for name, pool in pool_results.items():
            for i, game in enumerate(pool.games_list):
                pool_games.append(game.results_dict)
        #                 game_log = pd.Series(game.score.point_log).apply(
        #                     lambda x: pd.Series(
        #                         {game.team_a.name: x[0], game.team_b.name: x[1]}
        #                     )
        #                 )
        #                 sheet_name = f"__{division} {region} {name}-{i}"
        #                 game_log.to_excel(writer, sheet_name=sheet_name)
        #                 writer.sheets[sheet_name].hide()

        pd.DataFrame(pool_games).to_excel(
            writer, sheet_name=f"3. {division} {region} Pools"
        )
        pd.DataFrame([game.results_dict for game in bracket.games_list]).to_excel(
            writer, sheet_name=f"2. {division} {region} Bracket"
        )
        for i, game in enumerate(bracket.games_list):
            game_log = pd.Series(game.score.point_log).apply(
                lambda x: pd.Series({game.team_a.name: x[0], game.team_b.name: x[1]})
            )
            sheet_name = f"{division}{region[:8]}{game.level}{i}"
            if len(sheet_name) > 30 or game.level is None:
                continue
            game_log.to_excel(game_log_writer, sheet_name=sheet_name)

    pd.DataFrame(summary).T.to_excel(
        writer, sheet_name=f"1. {division} Overall Summary"
    )
    pd.concat(
        [
            pd.DataFrame(index=[region], columns=v.columns, data="--").append(
                v.rename(lambda x: region)
            )
            for region, v in test.items()
        ]
    ).to_excel(writer, sheet_name=f"1. {division} Overall Pools")
    overall_placements.to_excel(writer, sheet_name=f"1. {division} Overall Placement")
    game_log_writer.save()


writer = pd.ExcelWriter("regionals_results.xlsx")
mens_game_log_writer = pd.ExcelWriter("mens_regionals_game_logs.xlsx")
womens_game_log_writer = pd.ExcelWriter("womens_regionals_game_logs.xlsx")
play_all_regions(
    d1_men, mens_region_details, writer, mens_game_log_writer, division="M"
)
play_all_regions(
    d1_women, womens_region_details, writer, womens_game_log_writer, division="W"
)
writer.book.worksheets_objs.sort(key=lambda x: x.name)
writer.save()

TOURNAMENT - M's Atlantic Coast - 16 Teams with 2 Bids
FORMAT - 4 pools of 4 -> BracketSixteenTwoTwo
QUALIFIERS - North Carolina (5 - 0), North Carolina-Wilmington (6 - 1)

TOURNAMENT - M's Great Lakes - 12 Teams with 1 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Michigan (5 - 0)

TOURNAMENT - M's Metro East - 12 Teams with 1 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Connecticut (5 - 0)

TOURNAMENT - M's New England - 10 Teams with 2 Bids
FORMAT - 2 pools of 5 -> BracketEightTwoOne
QUALIFIERS - Massachusetts (6 - 0), Brown (6 - 1)

TOURNAMENT - M's North Central - 12 Teams with 2 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Minnesota (5 - 0), Carleton College-CUT (4 - 1)

TOURNAMENT - M's Northwest - 12 Teams with 4 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Washington (5 - 0), Oregon (4 - 1), Brigham Young (4 - 1), British Columbia (3 - 2)

TOURNAMENT - M's Ohio Valley - 16 Teams with 2 Bids
FORMAT - 4 pools of 4 -> BracketSixteenTwoTwo
QUALIFIERS - Ohio State (5 - 0), Pittsburgh (5 - 1)

TOURNAMENT - M's South Central - 16 Teams with 2 Bids
FORMAT - 4 pools of 4 -> BracketSixteenTwoTwo
QUALIFIERS - Colorado (5 - 0), Colorado State (5 - 1)

TOURNAMENT - M's Southeast - 16 Teams with 1 Bids
FORMAT - 4 pools of 4 -> BracketSixteenOne
QUALIFIERS - Georgia (6 - 0)

TOURNAMENT - M's Southwest - 16 Teams with 3 Bids
FORMAT - 4 pools of 4 -> BracketSixteenTwoTwo
QUALIFIERS - Cal Poly-SLO (5 - 0), California (5 - 1), UCLA (5 - 2)

TOURNAMENT - W's Atlantic Coast - 16 Teams with 2 Bids
FORMAT - 4 pools of 4 -> BracketSixteenTwoTwo
QUALIFIERS - North Carolina (5 - 0), Virginia (5 - 1)

TOURNAMENT - W's Great Lakes - 8 Teams with 1 Bids
FORMAT - 2 pools of 4 -> BracketEightOne
QUALIFIERS - Northwestern (6 - 0)

TOURNAMENT - W's Metro East - 8 Teams with 1 Bids
FORMAT - 2 pools of 4 -> BracketEightOne
QUALIFIERS - Columbia (6 - 0)

TOURNAMENT - W's New England - 10 Teams with 3 Bids
FORMAT - 2 pools of 5 -> BracketEightTwoOne
QUALIFIERS - Tufts (6 - 0), Northeastern (7 - 1), Dartmouth (4 - 3)

TOURNAMENT - W's North Central - 8 Teams with 1 Bids
FORMAT - 2 pools of 4 -> BracketEightOne
QUALIFIERS - Carleton College (6 - 0)

TOURNAMENT - W's Northwest - 8 Teams with 3 Bids
FORMAT - 2 pools of 4 -> BracketEightTwoOne
QUALIFIERS - Western Washington (4 - 1), British Columbia (5 - 1), Washington (4 - 3)

TOURNAMENT - W's Ohio Valley - 8 Teams with 2 Bids
FORMAT - 2 pools of 4 -> BracketEightTwoOne
QUALIFIERS - Ohio State (5 - 0), Pittsburgh (5 - 1)

TOURNAMENT - W's South Central - 12 Teams with 1 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Colorado (5 - 0)

TOURNAMENT - W's Southeast - 12 Teams with 2 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Florida (5 - 0), Vanderbilt (4 - 1)

TOURNAMENT - W's Southwest - 12 Teams with 4 Bids
FORMAT - 4 pools of 3 -> BracketTwelveFourPools
QUALIFIERS - Stanford (5 - 0), California-San Diego (4 - 1), California-Santa Barbara (4 - 1), California (3 - 3)

In [109]:
summary = {
    "Tournament": "M's Atlantic Coast - 16 Teams with 2 Bids",
    "Format": "4 pools of 4 -> BracketSixteenTwoTwo",
    "Qualifiers": ["North Carolina (5 - 0)", "North Carolina State (6 - 1)"],
}

Tournament            M's Atlantic Coast - 16 Teams with 2 Bids
Format                     4 pools of 4 -> BracketSixteenTwoTwo
Qualifiers    ['North Carolina (5 - 0)', 'North Carolina Sta...
dtype: object

In [173]:
# writer.sheets =
# {
#     **{name: sheet for name, sheet in writer.sheets.items() if name in first_pages},
#     **{name: sheet for name, sheet in writer.sheets.items() if name not in first_pages},
# }
# writer.save()
# region = ["blah"]

33

,rank,team,power_rating,competition_level,gender_division,competition_division,college_region,college_conference,wins,losses
56,57,Virginia,1462,College,Men,Division I,Atlantic Coast,Virginia DI,6,5

                size  bids
region
Atlantic Coast    16     1
Great Lakes       12     1
Metro East        12     1
New England       12     3
North Central     12     2
Northwest         12     4
Ohio Valley       16     2
South Central     16     2
Southeast         16     1
Southwest         16     3

    UCSB  UCSD
0      1     0
1      1     1
2      2     1
3      2     2
4      2     3
5      3     3
6      3     4
7      4     4
8      4     5
9      5     5
10     6     5
11     6     6
12     7     6
13     7     7
14     8     7
15     8     8
16     9     8
17     9     9
18    10     9
19    11     9
20    12     9
21    12    10
22    13    10
23    13    11
24    13    12
25    14    12
26    14    13
27    15    13

USAU Rank            368
Team                 374
USAU Power Rating    374
Wins                 374
Losses               374
Adjusted Rating       22
Notes                  8
dtype: int64

,USAU Rank,Team,USAU Power Rating,Wins,Losses,Adjusted Rating,Notes
0,1.0,North Carolina,2340.0,18.0,0.0,NaN,NaN
1,2.0,Washington,2291.0,20.0,2.0,2278,NaN
2,3.0,Cal Poly-SLO,2194.0,18.0,5.0,2270,NaN
3,4.0,Brigham Young,2190.0,13.0,1.0,2286,15-13 vs. UNC
4,5.0,Colorado,2169.0,12.0,3.0,2230,NaN
...,...,...,...,...,...,...,...
371,377.0,MIT B,-736.0,0.0,6.0,NaN,NaN
372,379.0,Virginia Commonwealth University B,-743.0,1.0,6.0,NaN,NaN
373,381.0,Oberlin B,-770.0,0.0,5.0,NaN,NaN
374,382.0,St Mary's (Maryland),-844.0,1.0,10.0,NaN,NaN
375,383.0,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
writer.book.add_worksheet()

[<xlsxwriter.worksheet.Worksheet at 0x11b56bb90>,
 <xlsxwriter.worksheet.Worksheet at 0x11a8fbc90>,
 <xlsxwriter.worksheet.Worksheet at 0x11b330b90>,
 <xlsxwriter.worksheet.Worksheet at 0x11aeb6690>,
 <xlsxwriter.worksheet.Worksheet at 0x11b5d8710>,
 <xlsxwriter.worksheet.Worksheet at 0x11b23e890>,
 <xlsxwriter.worksheet.Worksheet at 0x11b23c890>,
 <xlsxwriter.worksheet.Worksheet at 0x11b2345d0>,
 <xlsxwriter.worksheet.Worksheet at 0x10e5570d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11b5d24d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11abb0c90>,
 <xlsxwriter.worksheet.Worksheet at 0x119c1ce50>,
 <xlsxwriter.worksheet.Worksheet at 0x119a53c50>,
 <xlsxwriter.worksheet.Worksheet at 0x11940fad0>,
 <xlsxwriter.worksheet.Worksheet at 0x11abbc350>,
 <xlsxwriter.worksheet.Worksheet at 0x118e958d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11a136e50>,
 <xlsxwriter.worksheet.Worksheet at 0x11ae1bc10>,
 <xlsxwriter.worksheet.Worksheet at 0x11aef74d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11ae5fa10>,
 <xlsxwriter.worksheet.Worksheet at 0x11b560810>,
 <xlsxwriter.worksheet.Worksheet at 0x119c57d50>,
 <xlsxwriter.worksheet.Worksheet at 0x11ad15ad0>,
 <xlsxwriter.worksheet.Worksheet at 0x119c1c3d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11af87110>,
 <xlsxwriter.worksheet.Worksheet at 0x10e556b50>,
 <xlsxwriter.worksheet.Worksheet at 0x10e556b10>,
 <xlsxwriter.worksheet.Worksheet at 0x11aea8ed0>,
 <xlsxwriter.worksheet.Worksheet at 0x11ae9c050>,
 <xlsxwriter.worksheet.Worksheet at 0x11a297190>,
 <xlsxwriter.worksheet.Worksheet at 0x11ae9c090>,
 <xlsxwriter.worksheet.Worksheet at 0x11ad3e550>,
 <xlsxwriter.worksheet.Worksheet at 0x11a84df10>,
 <xlsxwriter.worksheet.Worksheet at 0x11b5c37d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11ae57d90>,
 <xlsxwriter.worksheet.Worksheet at 0x11b52b990>,
 <xlsxwriter.worksheet.Worksheet at 0x11b52bd50>,
 <xlsxwriter.worksheet.Worksheet at 0x11b2c2250>,
 <xlsxwriter.worksheet.Worksheet at 0x11a84db50>,
 <xlsxwriter.worksheet.Worksheet at 0x11b2c26d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11aa980d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11a8a5190>,
 <xlsxwriter.worksheet.Worksheet at 0x11b161090>,
 <xlsxwriter.worksheet.Worksheet at 0x11af818d0>,
 <xlsxwriter.worksheet.Worksheet at 0x11b5f4bd0>]

In [176]:
import numpy as np

In [181]:
np.random.seed(42)